.cvWrapper {
    display: none;
    position: absolute;
    top: 14%;
    width: 100%;

    -webkit-animation-name: moveUp;
    animation-name: moveUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    opacity: 100%;
    transition: all 700ms ease-in-out;
}

.cvCenter b {
    color: #FF342F;
}

.cvCenter li {
    color: black;
}

.cvSection p {
    font-style: italic;
}

.cvCenter {
    width: 83%; 
    margin: auto;
    background-color: #82C8CF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cvTitle {
    font-family: 'Pacifico';
    color: #FF342F;
    font-size: 2em;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.cvSection {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.cvProfile p, .cvSchool p {
    font-style: normal;
}

@media screen and (min-width: 501px) {
    .cvTitle {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 1111px) {
    .cvCenter {
        width: 70%;
    }
}
