@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import url("contact.css");
@import url("cloud.css");
@import url("animations.css");
@import url("cv.css");
@import url("portfolio.css");
@import url("balloon.css");

@font-face {
    font-family: 'Quicksand', sans-serif;
}

html {
    height: 100%;
}

p, h1, h2, h3, h4, div, section, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #A6D3DC;
    font-family: 'Quicksand';
    position: relative;
    z-index: -2;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

/*---------------------Carousel------------------------*/

.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
}

.rail {
    width: 6000px;
    height: 80%;
    display: inline-block;
    position: absolute;
    top: 12%;
    left: 0%;
    transition: all 700ms ease-in-out;
}


.slide {
    color: #FF342F;
    background-color: #82C8CF;   
    height: 100%;
    margin-right: 40px;
    vertical-align: top;
    display: inline-block; 
    position: relative;
}

.homeBanner {
    -webkit-animation: moveinfullfromleft 1.3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: moveinfullfromleft 1.3s; /* Firefox < 16 */
    -ms-animation: moveinfullfromleft 1.3s; /* Internet Explorer */
    -o-animation: moveinfullfromleft 1.3s; /* Opera < 12.1 */
    animation: moveinfullfromleft 0.5s;
    animation-delay: 0s;
}

.homeBannerCenter {
    position: relative;
    width: 56%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    font-family: 'Pacifico';
    font-size: 5em;
    text-align: center;
}

.intro {
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 41px;
}

.homeBtns {
    padding-bottom: 20px;
}

.homeBtnLink {
    display: inline-block;
    width: 100%;
}

.homeBtn {
    font-size: 1.1em;
    display: inline-block;
    width: 100%;
}


.btnStart {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

    background-color: white;
    text-decoration: none;
    color: #FF342F;
}

@media screen and (min-width: 773px) {
    .name {
        text-align: left;
    }
  
    .intro {
        font-size: 1.6em;
        text-align: left;
    } 

    .btnStart {
        width: auto;
        padding: 10px;
    } 

    .homeBtnLink {
        width: 48%;
    }   

    .seeWorkLink {
        text-align: right;
        padding-right: 5px;
    }

    .seeCVLink {
        text-align: left;
        padding-left: 5px;
    }

    .seeWork {
        text-align: right;
    }

    .seeCV {
        text-align: left;
    }

}

@media screen and (min-width: 773px) {
    .rail {
        height: 400px;
    }
}

/*------------- Links Banner ------------*/

.linksBanner {
    font-family: 'Quicksand';
    text-align: center;
    color: #FF342F;
    background-color: #82C8CF;
    position: absolute;
    top: 0;
    width: 100%;

    transition: all 700ms ease-in-out;
}

.links {
    margin: 10px;
}

.links a, .links a:visited {
    color: #FF342F;
    text-decoration: none;
    font-size: 1.1em;
}

@media screen and (min-width: 773px) {
    .linksBanner { 
        text-align: right;
        top: 75%;
        width: 50%;

        -webkit-animation: moveinhalf 1.3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: moveinhalf 1.3s; /* Firefox < 16 */
        -ms-animation: moveinhalf 1.3s; /* Internet Explorer */
        -o-animation: moveinhalf 1.3s; /* Opera < 12.1 */
        animation: moveinhalf 1.3s;
    }
}

/*------ General -------*/

.fadeIn {
    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 2s; /* Firefox < 16 */
    -ms-animation: fadeIn 2s; /* Internet Explorer */
    -o-animation: fadeIn 2s; /* Opera < 12.1 */
    animation: fadeIn 2s; 
}

.fadeOut {
    -webkit-animation: fadeOut 2s both; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeOut 2s both; /* Firefox < 16 */
    -ms-animation: fadeOut 2s both; /* Internet Explorer */
    -o-animation: fadeOut 2s both; /* Opera < 12.1 */
    animation: fadeOut 2s both; 
}
