/*----Banner-----*/

.portfolioBanner {
    left: 100%;
    display: inline-block;
}

.portfolioBannerCenter {
    text-align: center;
    font-size: 0;
    position: relative;
    width: 64%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolioLink {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;

    position: relative;
    vertical-align: middle;
}

.designLink {
    margin-bottom: 0px
}

.portfolioBtn {
    color: #FF342F;
    background-color: white;
    text-decoration: none;
    font-size: 0.8em;

    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.portfolioBtn p {
    padding: 25px;
    padding: 6px;
    position: relative;
}

@media screen and (min-width: 819px) {
    .portfolioBannerCenter {
        width: 97%;
    }

    .portfolioDesc {
        font-size: 1.6em;
        text-align: left;
        margin-bottom: 20px;
    }

    .portfolioOverlay {
        width: 100%;
        height: 100%;
        border-radius: 10%;
        background-position: center center;
        background-repeat: no-repeat;

        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* ff3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0))); /* safari4+,chrome */
        background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* ie10+ */
        background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
    }

    .portfolioBtn:hover > .portfolioOverlay {
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.2;
    }

    .portfolioLink {
        display: inline-block;
        width: 14%;
        height: 200px; 
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .portfolioBtn {
        height: 100%;
        border-radius: 10%;
        background-size: 100%;
        background-position: center;
    }

    .portfolioBtn p {
        position: absolute;
        padding: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .artBtn {
        background-image: url("../img/resources/skull 2.jpg");
    }

    .appDesignBtn {
        background-image: url("../img/resources/cake_app2.png");
    }

    .easyJetBtn {
        background-image: url("../img/resources/easyJet.png");
    }

    .videoBtn {
        background-image: url("../img/resources/moon.jpg");
    }

    .webDevBtn {
        background-image: url("../img/resources/portfolio_site.png");
    }

    .webDesignBtn {
        background-image: url("../img/resources/crash_spyro4.jpg");
    }
    
}

@media screen and (min-width: 1153px) {
    .portfolioBannerCenter {
        width: 97%;
    }

    .portfolioLink {
        display: inline-block;
        width: 14%;
        height: 260px;
        font-size: 25px;
    }

    .portfolioBtn {
        width: 100%;
        height: 100%;
        font-size: 1em;
    }

    .portfolioBtn p {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .portfolioOverlay {
        border-radius: 10%;
    }
}

/*------Grids-----*/

.artGridWrapper, .projectGridWrapper {
    display: none;
    position: absolute;
    top: 14%;
    width: 100%;

    -webkit-animation-name: moveUp;
    animation-name: moveUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    opacity: 100%;
    transition: all 700ms ease-in-out;
}

.projectExplanation {
    width: 83%; 
    margin: auto;
    background-color: #82C8CF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.projectExplanationCenter {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.projectExplanationHeading {
    color: #FF342F;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    margin-bottom: 10px;
}

.projectExplanationHeading .title {
    font-family: 'Pacifico';
    font-size: 2em;
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
}

.projectExplanationHeading .mark {
    width: 100%;
    font-size: 1.2em;
    font-style: italic;
    display: inline-block;
    text-align: right;
    padding-bottom: 10px;
    position: relative;
}

.projectExplanationCenter h1, h2, ul {
    color: #FF342F;
    padding-bottom: 5px;
    margin: 0;
}

.projectExplanationCenter h2 {
    padding-bottom: 5px;
    font-family: pacifico;
}

.projectExplanationCenter h3 {
    padding-bottom: 5px;
}

.projectExplanationCenter h4 {
    color: #FF342F;
    padding-bottom: 5px;
}

.projectExplanationCenter p {
    color: black;
    padding-bottom: 10px;
}

.projectExplanationCenter p b {
    color: #FF342F;
}

.projectExplanationCenter .video {
    padding-bottom: 5px;
}

.projectExplanationCenter .scrollDown {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 0px;
    color: #FF342F;
}

.projectExplanationCenter .finalDesignImg {
    width: 100%;
}

.artGridCenter, .designGridCenter, .projectExplanation {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.artGridCenter, .projectGridCenter {
    color: #FF342F;
    text-align: justify;
    text-align-last: justify;
    width: 83%;
    margin: auto;
    height: 100%;
}

.portfolioBlock {
    display: inline-block;
    position: relative;
    width: 48%;
    margin-bottom: 20px;
    overflow: visible;
    overflow-x: auto;
    overflow-y: auto;
}

.portfolioImageWrapper:hover {
    cursor: pointer;
}

.portfolioImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolioImage img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.portfolioImageOverlay {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    display: block;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: 5;
}
    
.portfolioImageLargeWrapper {
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.portfolioImageLargeWrapper:hover {
    cursor: pointer;
}

.portfolioImageLargeWrapper img {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 11;
}

@media screen and (min-width: 501px) {
    .portfolioBlock {
        width: 45%;
        margin-bottom: 30px;
    }

    .projectExplanationHeading .title {
        width: 69%;
        font-size: 3.5em;
    }

    .projectExplanationHeading .mark {
        width: 29%;
    }
}

@media screen and (min-width: 773px) {
    .portfolioBlock {
        width: 31%;
    }

    .designHeading .mark {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1111px) {
    .artGridCenter, .projectGridCenter, .projectExplanation {
        width: 70%;
    }

    .portfolioBlock {
        width: 29%;
    }
}

/*-----iFrame--------*/

.webDesignFrame {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
    opacity: 100%;
    transition: all 700ms ease-in-out;
}

.webDesignFrameContent {
    width: 100%;
    height: 100%;
}
